<div id="jsGrid"></div>
<script>
    $(function () {

        $("#jsGrid").jsGrid({
            height: "70%",
            width: "100%",
            filtering: true,
            editing: true,
            inserting: true,
            sorting: true,
            paging: true,
            autoload: true,
            pageSize: 15,
            pageButtonCount: 5,
            deleteConfirm: "Do you really want to delete the client?",
            controller: Models/Basvuru,
            fields: [
                { name: "Referans_kod", type: "text", width: 150 },
                { type: "control" }
            ]
        });

    });
</script>
